
.line{
    width: 1800px;
    height: 20px;
    background-color: black;
    margin-top: -10px;
    margin-left: -15px;
}

body{
    width:1800px;
}

.head{
    font-family: Raleway-Medium;
    font font-weight: bold;
    font-size: 40px
}

.head1{
    font-family: Raleway-Medium;
    margin-top: -37px
}

@font-face{
    font-family: Raleway-Medium;
    src:url('Raleway-Medium.ttf');
}

td{
 padding:500px;
    margin:100px; 
}

.tb1{
    padding-right:100px;
    padding-left:100px;
    padding-top:-10px;
}

.contents{
    margin:100px;
}

.banner{
    margin-left: -20px;
}

td{
    width:140px;
    padding:20px;
}

.about{ 
    font-family: Raleway-Medium;
    font-weight: 700;
    font-size: 20px
}

.info{
    font-family: Raleway-Medium;
}
