
.img_top {
    width: 887px;
    height: 349px;
    background-image: url("top.png");
    background-size: cover;
    margin-top: 200px;
}

.img_bottom3 {
    width: 887px;
    height: 349px;
    background-image: url("bottom3.png");
    background-size: contain;
    margin-top: -11px;
    margin-bottom: 200px;
}

.img_bottom1{
    width: 219px;
    height: 329px;
    background-image: url("bottom1.png");
    background-size: cover;
    margin-top: 5px;
    margin-left: 437px;
}

.img_bottom2{
    width: 219px;
    height: 329px;
    background-image: url("bottom2.png");
    background-size: cover;
    margin-top: -238px;
    margin-left: 1105px;
    
}
    
a{
    font-size: 30px;
    font-family: Raleway-Medium;
    text-decoration: none;
    color: azure;
}

.what{
    padding: 150px;
}

.look{
    padding: 150px;
}

a:hover{
    color: deeppink;
    border: 3px solid #ffff;
}

.byfar{
    font-family: Raleway-Medium;
    font-size: 50px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -200px;
    margin-left: 800px;
    font-weight: bold;
}

@font-face
    font-family: Raleway-Medium;
    src:url('Raleway-Medium.ttf');





