body{
    margin: 0;
    padding: 0;
    background: #313131;
}

.slider{
    width: 1920px;
    height: 1080px;
    background-image: url(main1.jpg); 
    background-size: cover;
    margin: 0;
    animation:  slide 20s infinite;
    
}

@keyframes slide{
    25%{
        background: url(main1.jpg);
    }
    50%{
        background: url(main2.jpg);
    }
    75%{
        background: url(main1.jpg);
    }
    100%{
        background: url(main2.jpg);
    }
}

