.header-container{
    display: block;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-image: url("main%20banner%20bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat
}

.header-container .top-navi{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 auto;
}
.header-container .top-navi ul{
    list-style: none;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 1440px;
}

.header-container .top-navi li{
    display: block;
    float: left;
    width: 30%;
    text-align: center;
}

.header-container .top-navi ul li a{
    text-decoration: none;
    color: black;
    font-family: Raleway-Medium;
}

@font-face{
    font-family:Raleway-Bold;
    src: url('Raleway-Bold.ttf');
    font-weight: normal;
}

#banner2{
    padding-top: 400px;
}

#banner2 .low-navi{
    display: block;
    width: 100%;
    margin: 0;
    padding-left: 235px;
}

#banner2 .low-navi ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#banner2 .low-navi li{
    display: block;
    float: left;
    width: 25%;
    text-align: center
}

#banner2 .low-navi ul li a{
    text-decoration: none;
    color: black;
    font-family: Raleway-Bold;
    font-size: 85px;
    font-weight: bolder;
}

.section{
    width: 100%;
    height: 750px;
}

@font-face{
    font-family: GmarketSansTTFMedium;
    src: url('GmarketSansTTFMedium.ttf');
}

@font-face{
    font-family: GmarketSansTTFLight;
    src: url('GmarketSansTTFLight.ttf');
}

.top-head{
    font-family: GmarketSansTTFbold;
    font-size: 30px;
    margin-top: 50px;
}

.emo-contents{
    margin-top: 20px;
    width: 590px;
    text-align: justify;
    font-family: GmarketSansTTFMedium;
}

.emo{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 1000px;
}

.transform_gogun{
    margin: 0 auto;
}

.gogun{
    float: left;
    display: block;
    width: 130px;
    height: 130px;
    margin: 10px;
}

.transform_gogun .gogun:hover{
    transform: perspective(500px) translateZ(100px);
    transition: transform 0.3s linear;
}

#gogun1{
    background: url(gogun1.png);
    background-size: 99%;
    background-repeat: no-repeat;
}

#gogun2{
    background: url(gogun2.png);
    background-size: 99%;
    vertical-align: middle;
    background-repeat: no-repeat;
    
    
}

#gogun3{
    background: url(gogun3.png);
    background-size: 98%;
    
    background-repeat: no-repeat;
}

#gogun4{
    background: url(gogun4.png);
    background-size: 99%;
    background-repeat: no-repeat;
    
}

#gogun5{
    background: url(gogun5.png);
    background-size: 99%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogun6{
    background: url(gogun6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#shongun1{
    background: url(shongun1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#shongun2{
    background: url(shongun2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#shongun3{
    background: url(shongun3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#shongun4{
    background: url(shongun4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#shongun5{
    background: url(shongun5.png);
    background-size: 77%;
    background-repeat: no-repeat;
    background-position: center;
}
#shongun6{
    background: url(shongun6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun1{
    background: url(gogogun1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun2{
    background: url(gogogun2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun3{
    background: url(gogogun3.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun4{
    background: url(gogogun4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun5{
    background: url(gogogun5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#gogogun6{
    background: url(gogogun6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo1{
    background: url(nulkbo1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo2{
    background: url(nulkbo2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo3{
    background: url(nulkbo3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo4{
    background: url(nulkbo4.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo5{
    background: url(nulkbo5.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo1{
    background: url(nulkbo1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#nulkbo6{
    background: url(nulkbo6.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-container .top-navi a:hover{
    color: dodgerblue;
}

.blank{
    height: 20px;
}



